.admin-orders {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  margin-top: 5rem;
}
.admin-orders h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
}

.orders-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 65rem;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 2rem;
  margin-left: 220px;
}

.Order-items {
  padding: 5px;
  width: 100%;
  background-color: rgb(235, 235, 235);
  border-radius: 0.5rem;
  font-weight: bolder;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

@media (max-width: 1000px) {
  .Order-items {
    padding: 5px;
    border: 1px solid black;
    width: 90%;
  }
  .orders-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 3rem;
    margin-left: 0px;
  }
}
