.header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 300;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  background-color: rgb(255, 255, 255);
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  width: 180px;
}

.header-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #141414;
  margin-right: 0.5rem;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  color: #1b1b1b;
  font-weight: 300;
  background-color: transparent;
  height: 2rem;
  text-align: center;
  transition: all 0.2s;
}
.header-button:hover {
  color: #000000;
  background-color: #cbcbcb51;
  cursor: pointer;
}

.cart {
  display: flex;
}

.cart p {
  background-color: rgb(99, 156, 255);
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.6rem;
  margin-top: -0.1rem;
  border-radius: 10px;
  width: 1.1rem;
  height: 1.1rem;
}

.left-container {
  width: 180px;
}

.navigation-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navlink-list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

@media (max-width: 800px) {
  .navigation-container {
    display: none;
  }
  .buttons-container {
  }
  .header-container {
  }
  .left-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 800px) {
  .left-container button {
    display: flex;
    align-items: center;
    display: none;
  }
}
