.SingelProductPage {
  height: 100vh;
}
.Singel-product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5rem;
}

.Singel-Product-img {
  height: 30rem;

  margin-right: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.Singel-Product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10rem;
  width: 50%;
}

.price-add-to-cart-btn {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}

.price-add-to-cart-btn p {
  font-weight: bolder;
}
